
@{
    ViewBag.Title = "Index";
}

<header class="aboutHeader pageHeader">
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
</header>
<article id="mainContentFullWidth">
       <h1>Courses</h1>
        <p>Welcome to the Courses landing page!</p>
</article>